* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
}

h1 {
  text-align: center;
}

$medium-break: "(max-width: 1000px)";
$small-break: "(max-width: 600px)";

keg-list, .card-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 50px;
}

.card {

  width: 31%;
  margin: 1%;
  border-radius: 18px;

  @media screen and #{$medium-break} {
    width: 48%;
  }

  @media screen and #{$small-break} {
    width: 100%;
  }

  h2 {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    border-radius: 10px;
  }

  .btn {
    display: block;
    margin: 5px auto;
  }
  .card-image {
    margin-top: 20px;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      height: 200px;
      width: 187px;
      object-fit: cover;
    }
  }
}
.on-order {
  top: 20px;
}
%keg {
  left: 50%;
  bottom: 2px;
  z-index: -1;
  transform: translate(-50%, 0);
  position: absolute;
  height: 50%;
  width: 186px;
}
.keg-gold {
  @extend %keg;
  background: linear-gradient(170deg, #F9E246 20%, #EE880C 50%, #B56327 90%);
}

.keg-low {
  @extend %keg;
  background: linear-gradient(170deg, #f94b46 20%, #eb3927 50%, #bf221d 90%);
}

.keg-dark {
  @extend %keg;
  background: linear-gradient(170deg, #543000 20%, #4d2c00 50%, #371700 90%);
}

.keg-red {
  @extend %keg;
  background: linear-gradient(170deg, #cb4300 20%, #aa3d00 50%, #903000 90%);
}
